<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About Me</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- first two icons -->
        {% for icon in site.author.skill_icon1 %}
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">Monika</span> Rajput</h4>
                <ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/monika0123" target="blank"><i class="fa fa-github"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/monika0104/" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/profile.php?id=100047131395214" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/monikarajput99" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="rajputmonika953@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- second two icons -->
        {% for icon in site.author.skill_icon2 %}
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
	<p>Hi, there! ^1000 <strong>I'm Monika.</strong> ^1200 <br> ^200<br> ^200 
       	Master of Information Technology graduate from <strong><a target="_blank" href="http://www.unimelb.edu.au/">The University of Melbourne, Australia</a></strong>. ^1200 <br> ^200<br> ^200
       	Software Engineer with <strong>expertise in Data Science technologies.</strong> ^1200 <br> ^200<br> ^200 
       	I'm passionate about using data to </p>
        </div>
       
	
    </div>
</div>
